
<main class="home-container" ng-app="home-container"
    ng-controller="home-controller">
    <section class="wrapper">
        <section class="search-area">
            <input type="text" class="input-search" [(ngModel)]="searchInput"
                name="Input Search"
                (ngModelChange)="searhAddress(searchInput)"
                placeholder="Searh you address here..." />
            <aside class="result-list" *ngIf="showList">
                <div class="list-wrapper" (scroll)="handleScroll($event)">
                    <div class="address-options" *ngFor="let a of listAddress"
                        (click)="getAddressById(a.id)">
                        {{a.streetNo + " " + a.streetName +" "+ a.stateCode +" "+a.postcode}}
                    </div>
                </div>
            </aside>
        </section>
        <section class="address-area">
            <article>
                <input type="text" placeholder="Addres Line 1"
                    [(ngModel)]="address1" disabled />
                <input type="text" placeholder="City" [(ngModel)]="city"
                    disabled />
                <input type="text" placeholder="State" [(ngModel)]="state"
                    disabled />
                <input type="text" placeholder="Zipcode" [(ngModel)]="zipcode"
                    disabled />
                <input type="text" placeholder="Country" [(ngModel)]="country"
                    disabled />
                <input type="button" name="Reset" value="Reset"
                    (click)="resetAddress()" />
            </article>
        </section>
    </section>
</main>
